---
  Checks: -*,
          bugprone-*,
          clang-analyzer-*,
          performance-*,
          -bugprone-easily-swappable-parameters,
          -clang-analyzer-cplusplus.NewDeleteLeaks,
          -clang-analyzer-security.insecureAPI.rand,
          -clang-analyzer-webkit*,
  WarningsAsErrors: '*'
  HeaderFilterRegex: 'broker/.*.hh'
...
