# Python dependencies for building the docs
#
# If we don't pin, RTD installs a really old sphinx_rtd_theme (0.4.3)
# together with a very new Sphinx 7.0.0. The latest sphinx_rtd_theme 1.2.0
# release requires Sphinx < 7.0, however, so pin things down.

Sphinx==6.2.1
sphinx_rtd_theme==1.2.0
